{{ define "posts/_right.html"}}
<div class="card mb-2 boder-white bg-light text-secondary">
	<div class="card-body shadow">
		<div class="card-title text-center">
			About
		</div>
		<hr>
		<small>
			this is a light weigt MARKDOWN blog
		</small>
	</div>
</div>
<div class="card mb-2 border-white bg-light text-secondary">
	<div class="card-body shadow">
		<div class="card-title text-center">
			POST TAGS
		</div>
		<hr>
		{{ range $k, $v := .tags }}
		<a class="btn btn-light btn-sm my-1 mr-1 shadow rounded" href="/tag/{{ $v.Title }}">
			<span class="text-secondary {{ if $v.Active }}font-weight-bold{{ end }}">{{ $v.Title }}</span>
			<span class="badge badge-secondary">{{ $v.Number }}</span>
		</a>
		{{ end }}
	</div>
</div>
<div class="card mb-2 border-white bg-light text-secondary">
	<div class="card-body shadow">
		<div class="card-title text-center">
			Other things
		</div>
		<hr>
		<small>
			<ul class="list-unstyled">
				<li class="mb-2"><a href="https://github.com/crzbird/mdblog">Github</a></li>
			</ul>
		</small>
	</div>
	{{ end }}